body{
  border: 20px solid #2c3e50;
  padding:20px;
  max-width:100%;
  width:80%;
  margin:20px auto;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Open Sans Condensed', sans-serif;
}

h2{
  font-size:2.0rem;
  color:#2c3050;
}

.quote{
  border-left:3px solid #1bbc9d;
  padding-left:5px;
}

hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(44,62,80, 0), rgba(44,62,80, 0.75), rgba(44,62,80, 0));
}

* {padding:0;margin:0;box-sizing:border-box;}
.video {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
}
.video video {
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 50%;
}


*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 31%;
  margin-bottom: 16px;
  padding: 0 8px;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  height:100%;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #2c3e50;
  text-align: center;
  cursor: pointer;
  width: 50%;
}

.button:hover {
  background-color: #555;
}
