<!DOCTYPE html>
<html>
<body>
    {% extends "base.html" %}
    
{% block main %}

 <div id="whole">

    <div id = "img" class="greenbg"><br> <img src="{{url_for('static', filename = 'picture.jpg' )}}"></img></div>
        <div id = "PROF" class="greenbg"> 

            <div id= "name" class="greenbg"> <h1> Doneil Scotland </h1>   </div>
            
            <div id= "email" class="greenbg">  @doneilscotland   </div>
            
            <div id= "location" class="greenbg"> St. Catherine, Jamaica   </div>

            <div id="date" class="greenbg"> Joined {{ date }}  </div>
        </div>
        <div id = "BIO">

            <div id="about-me">   I am a third year Computer Science Student of the University of the West Indies Mona.</div><br>
            <div id="fline">
            7&emsp;&emsp;&emsp;&emsp;100&emsp;&emsp;&emsp;&emsp;250<br>
            </div>
            &emsp;Posts &emsp;&emsp; Following &emsp; Followers<br><br>
        <input id="bttn" type="button" value="Follow"><br><br>
        </div>

</div>

{% endblock %}

</body>
</html>